<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="resetform" (ngSubmit)="resetPassword()" >
            
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" (mouseout)="passwordValidation($event)">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="Password" formControlName="confirmPassword" >
              </mat-form-field>
            
              <div>
                <button mat-raised-button color="primary">Reset</button>
              </div>
          </form>
        </mat-card-content>
</mat-card>
